<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mongo Scraper</title>
        <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  </head>
  <body>
	<!--navbar-->
	{{>header/header}}
	<!--navbar-->
  <div class="container">
      <div class="jumbotron" id="jumbotron">
        <br>
        <br>
        <h1>MONGO SCRAPER</h1>
        <h2>NEW YORK TIMES EDITION</h2>
      </div>

	<!--body-->
	{{{body}}}
	<!--body-->
</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/js/app.js"></script>

</body>
</html>
  

