body{
  background-color: #f8f8f8;
}

#jumbotron{
	background-image: url("../images/newspaper.jpg");
	background-size: cover;
    margin-bottom: 30px;
    height: 400px;
    color: white;
	font-family: 'Eczar', serif;
   	text-align: center;
/*   	opacity: 0.8;
*/    text-shadow: black 0em 0.8em 0.7em;
}


.btn-danger{
    color: #008975;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-color: #ffffff;
}

.panel-success {
    border-color: #787575;
}
.btn-success{
    color: #008975;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-color: #ffffff;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #000000;
  border:1px solid white;
  border-color: #ffffff;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #232323;
    border-color: #ffffff;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #398439;
  border-color: #255625;
}
.btn-warning{
  color: #008975;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-color: #ffffff;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #e1ddd8;
}

#deleteBtn{
    margin-right: 5px;
    border-color: #ffffff;
}

.panel-heading {
    padding: 20px;
}

.panel-heading >a {
    color: #ffffff;
    text-decoration: none;
}

#image{
    vertical-align: middle;
    border-radius: 15px;
    box-shadow: 2px 3px #d3d3d3;
}

.panel-body {
    padding: 15px;
    background-color: #f3f3f3;
}

.panel-success>.panel-heading {
    color: #333;
    background-color: #00AA8D;
    border-color: #ddd
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
     color: #00AA8D; 
    background-color: #080808;
}

.btn-primary {
    color: #fff;
    background-color: #00AA8D;
    border-color: #00AA8D;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #58baa9;
    border-color: #00AA8D;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #ffffff;
    background-color: #58baa9;
    border-color: #00AA8D;
}